# gradle
.gradle/
build/
out/
classes/
bin/

# fabric
run/

# logs and crash
logs/
*.log
*.gz
*.hprof
*.jfr
hs_err_*.log
replay_*.log

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.vscode/
.settings/
.project
.classpath

# os artifacts
.DS_Store
Thumbs.db
